<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Login</title>
</head>
<body>
    <header>
        <img src="./img/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
        <div class="buscador">
            <input type="text" name="buscar" placeholder="Buscar productos, marcas y más">
            <i class="fa fa-search"></i>
        </div>
        <p class="fas fa-hand-holding-usd"></i> Comprá en cuotas sin tarjeta de crédito</p>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main>
        <form method="GET" action="/">

            <label for="Nombre de usuario">Nombre de usuario<input type="text" name="Nombre de usuario"></label>
            <br>
            <label for="Contraseña">Contraseña<input type="password" name="Contraseña"></label>
            <br>

            <button type="submit">Volver</button>

        </form>
    </main>
</body>
</html>