<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="./img/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
        <div class="buscador">
            <input type="text" name="buscar" placeholder="Buscar productos, marcas y más">
            <i class="fa fa-search"></i>
        </div>
        <p class="fas fa-hand-holding-usd"></i> Comprá en cuotas sin tarjeta de crédito</p>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <div class="cajaregister">
        <div class="titulo">
          Registration
        </div>
        <div class="formulario">
           <div class="inputBox">
              <input type="text" class="input" placeholder="First Name">
           </div>  
            <div class="inputBox">
              <input type="text" class="input" placeholder="Last Name">
           </div>  
           <div class="inputBox">
              <input type="password" class="input" placeholder="Password">
           </div>  
          <div class="inputBox">
              <input type="password" class="input" placeholder="Confirm Password">
           </div> 
            <div class="inputBox">
              <div class="select-register">
                <select>
                  <div class="options-register">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  </div>
                </select>
              </div>
           </div> 
            <div class="inputBox">
              <input type="text" class="input" placeholder="Email Address">
           </div> 
          <div class="inputBox">
              <input type="text" class="input" placeholder="Phone Number">
           </div> 
          <div class="inputBox">
              <input type="text" class="input" placeholder="Postal Code">
           </div> 
          <div class="inputBox terms">
              <label class="check">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label><p>Acepto terminos y condiciones</p>
           </div> 
          <div class="todosbotones">
            <button type="submit">Register</button>
            <button type="reset">Reset</button>
            <form action="./login.html"></form>
             <button type="button">Login</button>
        </div>
    </div>	
</body>
</html>