<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="./img/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
        <div class="buscador">
            <input type="text" name="buscar" placeholder="Buscar productos, marcas y más">
            <i class="fa fa-search"></i>
        </div>
        <p class="fas fa-hand-holding-usd"></i> Comprá en cuotas sin tarjeta de crédito</p>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
</body>
</html>